beautifulsoup4==4.11.1
favicon==0.7.0
Flask==2.2.2
googlesearch_python==1.1.0
numpy==1.23.4
protobuf==4.21.9
regex==2022.10.31
requests==2.25.1
tldextract==3.4.0
whois==0.9.17
xmltodict==0.13.0
